
.socialicons{
  
  width: 100%;
 
  text-align: center;


  .right_icons{
    display: inline ;
    
  }
  .icon{
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
    margin-left: 30px;
    transition: color .5s;
    font-weight: 700;

    &:hover{
      color: aquamarine;
    }
  }
  
}